doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
  meta(name='description' content='Modern admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.')
  meta(name='keywords' content='admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard')
  meta(name='author' content='PIXINVENT')
  title
  include settings/_link-imports.pug
  link(rel='stylesheet' type='text/css' href='/local/ext/app-assets/css/core/menu/menu-types/material-horizontal-menu.min.css')
  link(rel='stylesheet' type='text/css' href='/local/ext/app-assets/css/pages/single-page.min.css')
  
include components/_header.pug
include components/_navbar.pug
.app-content.content
  .content-header.row
    .content-header-dark.bg-img.col-12
      .row
        .content-header-left.col-md-9.col-12.mb-2
          h3.content-header-title.white FAQ
          .row.breadcrumbs-top
            .breadcrumb-wrapper.col-12
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='index.html') Home
                li.breadcrumb-item.active
                  | FAQ
        .content-header-right.col-md-3.col-12
          .btn-group.float-md-right(role='group' aria-label='Button group with nested dropdown')
            button#btnGroupDrop1.btn.btn-primary.round.dropdown-toggle.dropdown-menu-right.box-shadow-2.px-2.mb-1(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Action
            .dropdown-menu
              a.dropdown-item(href='component-alerts.html')  Alerts
              a.dropdown-item(href='material-component-cards.html')  Cards
              a.dropdown-item(href='component-progress.html')  Progress
              .dropdown-divider
              a.dropdown-item(href='register-with-bg-image.html')  Register
  .content-overlay
  .content-wrapper
    .content-body
      section#faq-search
        .row
          .col-12
            .card.bg-success.white
              .card-content.text-center
                .card-header
                  h1.white.mt-4
                    | We&apos;re here to help !!
                .card-body
                  p.card-text.my-0
                    | If you have any question, enter what you are looking for!
                  form.form-group.mx-5.my-3
                    input.form-control(placeholder='Search in faqs....' type='text')
      section.faq
        .row
          .col-12
            .card
              #accordionExample.accordion
                .card
                  #hdone.card-header
                    button.btn.btn-link.collapsed.display-inline.font-medium-3(aria-controls='collapseOne' aria-expanded='true' data-target='#collapseOne' data-toggle='collapse' type='button')
                      i.font-medium-3.text-bold-300.fa.ft-info.text-danger
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                    #collapseOne.collapse(aria-labelledby='hdone' data-parent='#accordionExample')
                      .card-text
                        | Aenean eget leo vel lorem tincidunt tempor sit amet non ex. Aenean porta, velit ut efficitur fringilla, enim est suscipit augue, in porta ex nisi quis est. Phasellus ut odio in dolor eleifend tincidunt eget id tellus.
                .card
                  #hdtwo.card-header
                    button.btn.btn-link.collapsed.display-inline.font-medium-3(aria-controls='collapseTwo' aria-expanded='false' data-target='#collapseTwo' data-toggle='collapse' type='button')
                      i.font-medium-3.text-bold-300.fa.ft-info.text-danger
                      | Vestibulum hendrerit eros id finibus fermentum?
                    #collapseTwo.collapse(aria-labelledby='hdtwo' data-parent='#accordionExample')
                      .card-text
                        | Nam tincidunt rhoncus dolor nec imperdiet. Ut ut mauris tortor. Nulla cursus mattis elit, sed egestas augue laoreet id. Etiam eu velit felis. Duis at vehicula ligula, et suscipit nunc.
                .card
                  #hdthree.card-header
                    button.btn.btn-link.collapsed.font-medium-3(aria-controls='collapseThree' aria-expanded='false' data-target='#collapseThree' data-toggle='collapse' type='button')
                      i.font-medium-3.text-bold-300.fa.ft-info.text-danger
                      | Nunc maximus turpis et vulputate euismod?
                    #collapseThree.collapse(aria-labelledby='hdthree' data-parent='#accordionExample')
                      .card-text
                        | Aenean eget leo vel lorem tincidunt tempor sit amet non ex. Aenean porta, velit ut efficitur fringilla, enim est suscipit augue, in porta ex nisi quis est. Phasellus ut odio in dolor eleifend tincidunt eget id tellus.
                .card
                  #hdfour.card-header
                    button.btn.btn-link.collapsed.font-medium-3(aria-controls='collapseFour' aria-expanded='false' data-target='#collapseFour' data-toggle='collapse' type='button')
                      i.font-medium-3.text-bold-300.fa.ft-info.text-danger
                      | Vivamus pulvinar diam at viverra sagittis?
                    #collapseFour.collapse(aria-labelledby='hdfour' data-parent='#accordionExample')
                      .card-text
                        | Nam tincidunt rhoncus dolor nec imperdiet. Ut ut mauris tortor. Nulla cursus mattis elit, sed egestas augue laoreet id. Etiam eu velit felis. Duis at vehicula ligula, et suscipit nunc.
                .card
                  #hdfive.card-header
                    button.btn.btn-link.collapsed.font-medium-3(aria-controls='collapseFive' aria-expanded='false' data-target='#collapseFive' data-toggle='collapse' type='button')
                      i.font-medium-3.text-bold-300.fa.ft-info.text-danger
                      | Sed elementum nisl ac lectus luctus viverra?
                    #collapseFive.collapse(aria-labelledby='hdfive' data-parent='#accordionExample')
                      .card-text
                        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                .card.mb-0
                  #hdsix.card-header
                    button.btn.btn-link.collapsed.font-medium-3(aria-controls='collapseSix' aria-expanded='false' data-target='#collapseSix' data-toggle='collapse' type='button')
                      i.fa.ft-info.font-medium-3.text-bold-300.text-danger
                      | Nulla ut tortor et arcu porttitor sollicitudin a a odio?
                    #collapseSix.collapse(aria-labelledby='hdsix' data-parent='#accordionExample')
                      .card-text
                        | Sed sit amet feugiat mi. Morbi dui dui, ultrices id commodo in, commodo ut erat. Ut vitae condimentum lorem. Cras eu viverra metus, fringilla tincidunt est. Aenean cursus, lacus ut posuere convallis, est dolor tincidunt nunc, nec viverra justo lorem a enim.

.buy-now
  a.btn.btn-info.btn-glow.round.px-2(href='https://1.envato.market/modern_admin' target='_blank') Buy Now
.sidenav-overlay
.drag-target
include components/_footer.pug
include settings/_js-imports.pug

script(src='/local/ext/app-assets/js/scripts/pages/material-app.min.js')
