doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
  meta(name='description' content='Modern admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.')
  meta(name='keywords' content='admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard')
  meta(name='author' content='PIXINVENT')
  title
  include settings/_link-imports.pug
  //- link(rel='stylesheet', type='text/css', href='/local/ext/app-assets/css/core/menu/menu-types/material-horizontal-menu.min.css')
  //- link(rel='stylesheet', type='text/css', href='/local/ext/app-assets/css/pages/dashboard-support.min.css')
  link(rel="stylesheet", type="text/css", href="/local/ext/app-assets/css/plugins/calendars/clndr.min.css")
  //- link(rel="stylesheet", type="text/css", href='/local/ext/app-assets/css/core/colors/palette-gradient.min.css')
  
include components/_header.pug
include components/_navbar.pug
include components/modals/_event-settings.pug
include components/modals/_speaker-register.pug
include components/modals/_activity-register.pug
.loader_box.d-none#loader
  .loader

.app-content.content(sisgepac-page="index")
  .content-header.row
  .content-overlay
  .content-wrapper.bg-secondary
    .content-body
      .row.card-icons
          .col-12
            .card.bg-white
              .card-content
                .card-body
                  .row
                    .col-lg-3.col-md-6.col-sm-12.border-right-blue-grey.border-right-lighten-5
                      .media.d-flex.p-2
                        .align-self-center
                          i.icon-camera.font-large-1.blue-grey.d-block.mb-1
                          span.text-muted.text-right.text-white O quanto minha página está configurada
                        .media-body.text-right
                          span.font-large-2.text-bold-300.text-dark 579
                      .progress.mt-1.mb-0(style="height: 7px;")
                        .progress-bar.bg-gradient-x-danger(role="progressbar", style="width: 80%", aria-valuenow="80", aria-valuemin="0", aria-valuemax="100")
                    
                    .col-lg-3.col-md-6.col-sm-12.border-right-blue-grey.border-right-lighten-5
                      .media.d-flex.p-2
                        .align-self-center
                          i.icon-user.font-large-1.blue-grey.d-block.mb-1
                          span.text-muted.text-right.text-dark New Clients
                        .media-body.text-right
                          span.font-large-2.text-bold-300.text-dark 423
                      .progress.mt-1.mb-0(style="height: 7px;")
                        .progress-bar.bg-gradient-x-danger(role="progressbar", style="width: 45%", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100")
                    .col-lg-3.col-md-6.col-sm-12.border-right-blue-grey.border-right-lighten-5
                      .media.d-flex.p-2
                        .align-self-center
                          i.icon-bulb.font-large-1.blue-grey.d-block.mb-1
                          span.text-muted.text-right.text-dark Conversion Rate
                        .media-body.text-right
                          span.font-large-2.text-bold-300.text-dark 61%
                      .progress.mt-1.mb-0(style="height: 7px;")
                        .progress-bar.bg-gradient-x-danger(role="progressbar", style="width: 75%", aria-valuenow="75", aria-valuemin="0", aria-valuemax="100")
                    .col-lg-3.col-md-6.col-sm-12
                      .media.d-flex.p-2
                        .align-self-center
                          i.icon-wallet.font-large-1.blue-grey.d-block.mb-1
                          span.text-muted.text-right.text-dark Sales
                        .media-body.text-right
                          span.font-large-2.text-bold-300.text-dark $687
                      .progress.mt-1.mb-0(style="height: 7px;")
                        .progress-bar.bg-gradient-x-danger(role="progressbar", style="width: 60%", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100")
      // Payment Methods & Purchase History
      .row.match-height
        .col-xl-6.col-lg-12.col-sm-12
          .card.bg-white
              .card-header
                  h4.card-title.text-dark#event-occurrence-title
              .card-body
                  //p.card-text.white This is the most basic eample with html template and events to be shown on the calendar.</p>
                  #clndr-default.overflow-hidden.bg-danger.bg-lighten-3
                    .clndr
                      .clndr-controls.bg-danger
                          .clndr-previous-button &lt;
                          .clndr-next-button &gt;
                          .current-month January 2020
                      .clndr-grid.bg-danger.bg-lighten-5
                        .days-of-the-week.clearfix.bg-danger.bg-lighten-3
                          .header-day S
                          .header-day M
                          .header-day T
                          .header-day W
                          .header-day T
                          .header-day F
                          .header-day S
                        .days
                          .day.past.adjacent-month.last-month.calendar-day-2019-12-29.calendar-dow-0
                            span.day-number 29
                      
                          .day.past.adjacent-month.last-month.calendar-day-2019-12-30.calendar-dow-1
                            span.day-number 30
                      
                          .day.past.adjacent-month.last-month.calendar-day-2019-12-31.calendar-dow-2
                            span.day-number 31
                      
                          .day.past.calendar-day-2020-01-01.calendar-dow-3
                            span.day-number 1
                      
                          .day.past.calendar-day-2020-01-02.calendar-dow-4 
                            span.day-number 2
                          .day.past.calendar-day-2020-01-03.calendar-dow-5 
                            span.day-number 3
                          .day.past.calendar-day-2020-01-04.calendar-dow-6
                            span.day-number 4
                          .day.past.calendar-day-2020-01-05.calendar-dow-0 
                            span.day-number 5
                          .day.past.calendar-day-2020-01-06.calendar-dow-1 
                            span.day-number 6
                          .day.past.calendar-day-2020-01-07.calendar-dow-2
                            span.day-number 7
                          .day.past.calendar-day-2020-01-08.calendar-dow-3 
                            span.day-number 8
                          .day.past.calendar-day-2020-01-09.calendar-dow-4 
                            span.day-number 9
                          .day.past.event.calendar-day-2020-01-10.calendar-dow-5
                            span.day-number 10
                          .day.past.calendar-day-2020-01-11.calendar-dow-6 
                            span.day-number 11
                          .day.past.calendar-day-2020-01-12.calendar-dow-0 
                            span.day-number 12
                          .day.past.calendar-day-2020-01-13.calendar-dow-1
                            span.day-number 13
                          .day.past.calendar-day-2020-01-14.calendar-dow-2
                            span.day-number 14
                          .day.past.calendar-day-2020-01-15.calendar-dow-3
                            span.day-number 15
                          .day.past.calendar-day-2020-01-16.calendar-dow-4
                            span.day-number 16
                          .day.past.calendar-day-2020-01-17.calendar-dow-5
                            span.day-number 17
                          .day.past.calendar-day-2020-01-18.calendar-dow-6
                            span.day-number 18
                          .day.past.event.calendar-day-2020-01-19.calendar-dow-0
                            span.day-number 19
                          .day.today.calendar-day-2020-01-20.calendar-dow-1
                            span.day-number 20
                          .day.calendar-day-2020-01-21.calendar-dow-2
                            span.day-number 21
                          .day.calendar-day-2020-01-22.calendar-dow-3
                            span.day-number 22
                          .day.event.calendar-day-2020-01-23.calendar-dow-4
                            span.day-number 23
                          .day.calendar-day-2020-01-24.calendar-dow-5 
                            span.day-number 24
                          .day.calendar-day-2020-01-25.calendar-dow-6
                            span.day-number 25
                          .day.calendar-day-2020-01-26.calendar-dow-0
                            span.day-number 26
                          .day.calendar-day-2020-01-27.calendar-dow-1 
                            span.day-number 27
                          .day.calendar-day-2020-01-28.calendar-dow-2 
                            span.day-number 28
                          .day.calendar-day-2020-01-29.calendar-dow-3
                            span.day-number 29
                          .day.calendar-day-2020-01-30.calendar-dow-4
                            span.day-number 30
                          .day.calendar-day-2020-01-31.calendar-dow-5
                            span.day-number 31
                          .day.adjacent-month.next-month.calendar-day-2020-02-01.calendar-dow-6
                            span.day-number 1
                      
                      .event-listing
                        .event-listing-title.bg-danger.bg-lighten-3 Event this month
                          .event-item.font-small-3
                            .event-item-day.font-small-2 2020-01-10
                            .event-item-name.text-bold-600.Persian Kitten Auction
                            .event-item-location Center for Beautiful Cats
                      
                          .event-item.font-small-3
                            .event-item-day.font-small-2 2020-01-19
                            .event-item-name.text-bold-600 Cat Frisbee
                            .event-item-location Jefferson Park
                              
                          .event-item.font-small-3
                            .event-item-day.font-small-2 2020-01-23
                            .event-item-name.text-bold-600 Kitten Demonstration
                            .event-item-location Center for Beautiful Cats
        .col-xl-6.col-lg-12.col-sm-12
          .card.bg-white
              .card-header
                  h4.card-title.text-dark teste
              .card-body
                .col-12

                  
      .row.match-height
        .col-xl-4.col-lg-12.col-sm-12
          .card.bg-white
              .card-header
                  h4.card-title.text-dark#event-information-title
              .card-body
                .col-12
                  table.table.table-borderless
                    tbody
                      tr
                        td#card02_label_event-name
                        td.users-view-username#card02_data_event-name
                      tr
                        td#card02_label_event-edition
                        td.users-view-name#card02_data_event-edition
                      tr
                        td#card02_label_event-area
                        td.users-view-name#card02_data_event-area
                      tr
                        td#card02_label_event-description
                        td.users-view-name#card02_data_event-description
                      tr
                        td#card02_label_event-institute
                        td.users-view-name#card02_data_event-institute
                      tr
                        td#card02_label_event-type
                        td.users-view-name#card02_data_event-type
        .col-xl-4.col-lg-12.col-sm-12
          .card.bg-white
            .card-header
              h4.card-title.text-dark#card03_label_event-contact-info
            .card-body
              .col-12
                table.table.table-borderless
                  tbody
                    tr
                      td#card03_label_event-twitter
                      td
                        a#card03_data_event-twitter
                    tr
                      td#card03_label_event-facebook
                      td
                        a#card03_data_event-facebook
                    tr
                      td#card03_label_event-instagram
                      td
                        a#card03_data_event-instagram
                    tr
                      td#card03_label_event-youtube
                      td
                        a#card03_data_event-youtube
                    tr
                      td#card03_label_event-linkedin
                      td
                        a#card03_data_event-linkedin
                    tr
                      td#card03_label_event-website
                      td
                        a#card03_data_event-website
                    tr
                      td#card03_label_event-telephone
                      td
                        a#card03_data_event-telephone
                    tr
                      td#card03_label_event-email
                      td
                        a#card03_data_event-email
        .col-xl-4.col-lg-12.col-sm-12
          .card.bg-white
              .card-header
                  h4.card-title.text-dark#card04_label_title
              .card-body
                .col-12
                  iframe#card03_map(width="100%", height="350" ,frameborder="0", scrolling="no", marginheight="0" ,marginwidth="0", src="https://www.openstreetmap.org/export/embed.html?bbox=-45.011050701141365%2C-21.248062254385673%2C-44.98272657394409%2C-21.230062071277242&amp;layer=mapnik&amp;marker=-21.239062437563888%2C-44.996888637542725", style="border: 3px solid #009688")
        //.col-md-6
          .card.payment
            .card-content
              .card-body
                h4.card-title Support Payment Methods
                hr
                .row
                  .col-2
                    img(src='/local/ext/app-assets/images/icons/card-1.png' alt='avatar' width='50')
                  .col-8
                    h6 REDQTEAM-XXX-5994
                    p EX 04/2022
                  .col-2
                    button.btn.btn-sm.btn-icon.btn-danger.mr-1(type='button')
                      i.ft-x
                .row.mt-2
                  .col-2
                    img(src='/local/ext/app-assets/images/icons/card-2.png' alt='avatar' width='50')
                  .col-8
                    h6 REDQTEAM-XXX-5834
                    p EX 12/2020
                  .col-2
                    button.btn.btn-sm.btn-icon.btn-danger.mr-1(type='button')
                      i.ft-x
        //.col-md-6
          .card
            .card-content
              .card-body
                h4.card-title Purchase History
                hr
                .row
                  .col-2
                    img(src='/local/ext/app-assets/images/icons/mail-chimp.png' alt='avatar' width='50')
                  .col-7
                    h6
                      | MailChilp 
                      span - Singles site
                    p $35.00 - excludes 0% tax
                  .col-3
                    p.m-0 05-10-2018
                    p.info invoice
                .row.mt-2
                  .col-2
                    img(src='/local/ext/app-assets/images/icons/google.png' alt='avatar' width='50')
                  .col-7
                    h6
                      | MailChilp 
                      span - Singles site
                    p $35.00 - excludes 0% tax
                  .col-3
                    p.m-0 05-10-2018
                    p.info invoice
      
      .row.match-height
        .col-xl-6.col-lg-12.col-sm-12
          .card
            .card-content
              .card-header
                h4.card-title.dark#card05_label_title
              .card-body
                .table-responsive
                  table#project-task-list.table.table-white-space.table-bordered.row-grouping.display.no-wrap.icheck.table-middle
                    thead
                      tr
                        th.text-right(colspan="4")
                          .btn-group.btn-group-sm(role="group", aria-label="Basic example")
                            button.btn.btn-outline-success#card05_button_create-speaker
                              i.la.la-plus.font-medium-1.mr-1
                              span#card05_button_create-speaker-text
                            button.btn.btn-outline-primary(type="button")
                              i.la.la-search.font-medium-1.mr-1
                              span#card05_button_search-speaker-text
                            button.btn.btn-outline-danger(type="button")
                              i.la.la-trash-alt.font-medium-1.mr-1
                              span#card05_button_remove-speaker-text
                      tr
                        th#card05_table_label_column01
                        th#card05_table_label_column02
                        th#card05_table_label_column03
                        th#card05_table_label_column04
                    tbody#speakerTable
                      //tr
                        td.text-center
                          span.avatar.avatar-busy
                            img(src='/local/ext/app-assets/images/portrait/small/avatar-s-8.png' alt='avatar' data-toggle='tooltip' data-placement='right' title='Mary Salazar')
                        td
                          a.text-bold-600(href='#') Lucas Fonseca dos Santos
                          p.text-muted Pesquisador na Universidade Federal de Lavras
                          p.text-muted redes sociais
                        td.text-truncate.p-1
                          ul.list-unstyled.users-list.m-0
                            li.avatar.avatar-sm.pull-up(data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Kimberly Simmons")
                              img.media-object.rounded-circle.no-border-top-radius.no-border-bottom-radius(src="/local/ext/app-assets/images/portfolio/portfolio-1.jpg",alt="Avatar")
                            li.avatar.avatar-sm.pull-up(data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Willie Torres")
                              img.media-object.rounded-circle.no-border-top-radius.no-border-bottom-radius(src="/local/ext/app-assets/images/portfolio/portfolio-2.jpg", alt="Avatar")
                            li.avatar.avatar-sm.pull-up(data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Rebecca Jones")
                              img.media-object.rounded-circle.no-border-top-radius.no-border-bottom-radius(src="/local/ext/app-assets/images/portfolio/portfolio-4.jpg", alt="Avatar")
                            li.avatar.avatar-sm
                              span.badge.badge-info +1 more
                        td.text-center
                          button.btn.btn-icon.btn-teal.mr-1(type="button", data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Editar cadastro do palestrante")
                            i.material-icons edit
                          button.btn.btn-icon.btn-teal.mr-1(type="button", data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Visualizar todos os dados do palestrante")
                            i.material-icons remove_red_eye
                          button.btn.btn-icon.btn-danger.mr-1(type="button", data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Remover cadastro do palestrante")
                            i.material-icons delete_forever
                 
        .col-xl-6.col-lg-12.col-sm-12
          .card
            .card-content
              .card-header
                h4.card-title.dark#card06_label_title
              .card-body
                .table-responsive
                  table#project-task-list.table.table-white-space.table-bordered.row-grouping.display.no-wrap.icheck.table-middle
                    thead
                      tr
                        th.text-right(colspan="4")
                          .btn-group.btn-group-sm(role="group", aria-label="Basic example")
                            button.btn.btn-outline-success#card06_button_create-activity(type="button")
                              i.la.la-plus.font-medium-1.mr-1
                              span#card06_button_create-activity-text
                            button.btn.btn-outline-primary#card06_button_search-activity(type="button")
                              i.la.la-search.font-medium-1.mr-1
                              span#card06_button_search-activity-text
                            button.btn.btn-outline-danger#card06_button_delete-activity(type="button")
                              i.la.la-trash-alt.font-medium-1.mr-1
                              span#card06_button_delete-activity-text
                      tr
                        th#card06_table_label_column01
                        th#card06_table_label_column02
                        th#card06_table_label_column03
                        th#card06_table_label_column04
                    tbody
                      tr
                        td.text-center
                          span.avatar.avatar-busy
                            img(src='/local/ext/app-assets/images/portrait/small/avatar-s-8.png' alt='avatar' data-toggle='tooltip' data-placement='right' title='Mary Salazar')
                          br
                          a.text-bold-600(href='#') Lucas
                        td
                          a.text-bold-600(href='#') Titulo da atividade aqui
                          p.text-muted uma expĺicacao e tals
                          p.text-muted
                            i.ft-paperclip
                            |  abc.pdf
                        td
                          h6 18 Sept, 2018
                        td
                          span.badge.badge-success Urgent
      .row.match-height
        .col-xl-6.col-lg-12.col-sm-12
          .card
            .card-content
              .card-header
                h4.card-title.dark#card07_label_title
              .card-body
                .table-responsive
                  table#project-task-list.table.table-white-space.table-bordered.row-grouping.display.no-wrap.icheck.table-middle
                    thead
                      tr
                        th.text-right(colspan="4")
                          .btn-group.btn-group-sm(role="group", aria-label="Basic example")
                            button.btn.btn-success(type="button")
                              i.material-icons add
                              |Cadastrar
                            button.btn.btn-primary(type="button")
                              i.material-icons search
                              |Pesquisar
                            button.btn.btn-danger(type="button")
                              i.material-icons delete_forever
                              |remover
                      tr
                        th#card07_table_label_column01
                        th#card07_table_label_column02
                        th#card07_table_label_column03
                        th#card07_table_label_column04
                    tbody
                      tr
                        td.text-center
                          a.text-bold-600(href='#') Diamante
                        td
                          p.text-muted Uma breve descrição gigante
                        td.text-truncate.p-1
                          p.text-muted R$ 300,00
                        td.text-center
                          button.btn.btn-icon.btn-teal.mr-1(type="button", data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Editar cadastro do palestrante")
                            i.material-icons edit
                          button.btn.btn-icon.btn-teal.mr-1(type="button", data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Visualizar todos os dados do palestrante")
                            i.material-icons remove_red_eye
                          button.btn.btn-icon.btn-danger.mr-1(type="button", data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Remover cadastro do palestrante")
                            i.material-icons delete_forever
                 
        .col-xl-6.col-lg-12.col-sm-12
          .card
            .card-content
              .card-header
                h4.card-title.dark#card08_label_title
              .card-body
                .table-responsive
                  table#project-task-list.table.table-white-space.table-bordered.row-grouping.display.no-wrap.icheck.table-middle
                    thead
                      tr
                        th.text-right(colspan="5")
                          .btn-group.btn-group-sm(role="group", aria-label="Basic example")
                            button.btn.btn-success(type="button")
                              i.material-icons add
                              |Cadastrar
                            button.btn.btn-primary(type="button")
                              i.material-icons search
                              |Pesquisar
                            button.btn.btn-danger(type="button")
                              i.material-icons delete_forever
                              |remover
                      tr
                        th#card08_table_label_column01
                        th#card08_table_label_column02
                        th#card08_table_label_column03
                        th#card08_table_label_column04
                        th#card08_table_label_column05
                    tbody
                      tr
                        td.text-center
                          span.avatar.avatar-busy
                            img(src='/local/ext/app-assets/images/portrait/small/avatar-s-8.png' alt='avatar' data-toggle='tooltip' data-placement='right' title='Mary Salazar')
                          br
                          a.text-bold-600(href='#') Lucas
                        td
                          p.text-muted navbar is missing when click to next page on navbar
                          p.text-muted
                            i.ft-paperclip
                            |  abc.pdf
                        td
                          p.text-muted R$ 300,00
                        td
                          span.badge.badge-success Urgent
                        td.text-center
                          button.btn.btn-icon.btn-teal.mr-1(type="button", data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Editar cadastro do palestrante")
                            i.material-icons edit
                          button.btn.btn-icon.btn-teal.mr-1(type="button", data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Visualizar todos os dados do palestrante")
                            i.material-icons remove_red_eye
                          button.btn.btn-icon.btn-danger.mr-1(type="button", data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Remover cadastro do palestrante")
                            i.material-icons delete_forever
      .row.match-height
        .col-xl-8.col-lg-12.col-sm-12
          .card
            .card-header
              h4.card-title.dark#card09_label_title
            .card-body
             
        .col-xl-4.col-lg-12.col-sm-12
          .card
              .card-header
                  h4.card-title.dark#card010_label_title
              .card-body
                .col-12
                  table.table.table-bordered.table-lg
                    thead
                      th.text-right(colspan="5")
                        .btn-group.btn-group-sm(role="group", aria-label="Basic example")
                          button.btn.btn-success(type="button")
                            i.material-icons add
                            |Adicionar
                          button.btn.btn-danger(type="button")
                            i.material-icons delete_forever
                            |remover
                      tr
                        th#card010_table_label_column01
                        th#card010_table_label_column02
                        th#card010_table_label_column03
                    tbody.list
                      tr
                        th(scope="row")
                          p.text-muted 1
                        td.name
                          p.text-muted Português Brasil
                        td.text-center
                          button.btn.btn-icon.btn-danger.mr-1(type="button", data-toggle="tooltip", data-popup="tooltip-custom", data-original-title="Remover cadastro do palestrante")
                            i.material-icons delete_forever
                  
      
      //.row
        .col-sm-8
          .card
            .card-content
              .card-header
                h4.card-title.dark#card05_label_title
              .card-body
                // Task List table
                .table-responsive
                  table#project-task-list.table.table-white-space.table-bordered.row-grouping.display.no-wrap.icheck.table-middle
                    thead
                      tr
                        th Owner
                        th Tickets
                        th Dates
                        th Priority
                    tbody
                      tr
                        td.text-center
                          span.avatar.avatar-busy
                            img(src='/local/ext/app-assets/images/portrait/small/avatar-s-8.png' alt='avatar' data-toggle='tooltip' data-placement='right' title='Mary Salazar')
                            i
                        td
                          a.text-bold-600(href='#') Modern admin - Responsive Bootstrap 4 Admin Template
                          p.text-muted navbar is missing when click to next page on navbar
                          p.text-muted
                            i.ft-paperclip
                            |  abc.pdf
                        td
                          h6 18 Sept, 2018
                        td
                          span.badge.badge-success Urgent
                      // 10 Days Ago
                      tr
                        td.text-center
                          span.avatar.avatar-online
                            img(src='/local/ext/app-assets/images/portrait/small/avatar-s-6.png' alt='avatar' data-placement='right' title='Nicole Barrett')
                            i
                        td
                          a.text-bold-600(href='#') Complete Support page design
                          p.text-muted  Curabitur tempor, quam vel pulvinar finibus.
                        td
                          h6 5 Sept, 2018
                        td
                          span.badge.badge-success Urgent
                      tr
                        td.text-center
                          span.avatar.avatar-off
                            img(src='/local/ext/app-assets/images/portrait/small/avatar-s-7.png' alt='avatar' data-placement='right' title='Jason Robertson')
                            i
                        td
                          a.text-bold-600(href='#') Create App Landing page
                          p.text-muted  Donec pulvinar nisi ac convallis porta.
                          p.text-muted
                            i.ft-paperclip
                            |  xyz.jpg
                        td
                          h6 25 Sept, 2018
                        td
                          span.badge.badge-danger Low
                      // 11 Days Ago
                      tr
                        td.text-center
                          span.avatar.avatar-busy
                            img(src='/local/ext/app-assets/images/portrait/small/avatar-s-7.png' alt='avatar' data-toggle='tooltip' data-placement='right' title='Willie Sanchez')
                            i
                        td
                          a.text-bold-600(href='#') UI Design for the CCC
                          p.text-muted
                            | Phasellus vel elit volutpat, egestas urna a, pharetra
                            | nibh.
                        td
                          h6 05 Sept, 2018
                        td
                          span.badge.badge-danger Low
                    tfoot
                      tr
                        th Owner
                        th Task
                        th Dates
                        th Priority
                // / Task List table
        .col-sm-4
          .card
            .card-header
              h4.card-title Ticket Categories
              a.heading-elements-toggle
                i.la.la-ellipsis-v.font-medium-3
            .card-content
              .table-responsive
                table#recent-orders.table.table-hover.table-xl.mb-0
                  thead
                    tr
                      th.border-top-0 Logo
                      th.border-top-0 Product Name
                      th.border-top-0 Tickets
                  tbody
                    tr
                      td.text-truncate
                        span.avatar.avatar-xs
                          img.box-shadow-2(src='/local/ext/app-assets/images/icons/app-1.png' alt='avatar')
                      td.text-truncate Convex
                      td
                        span.badge.badge-warning 3
                    tr
                      td.text-truncate
                        span.avatar.avatar-xs
                          img.box-shadow-2(src='/local/ext/app-assets/images/icons/app-2.png' alt='avatar')
                      td.text-truncate Materialize
                      td
                        span.badge.badge-success 3
                    tr
                      td.text-truncate
                        span.avatar.avatar-xs
                          img.box-shadow-2(src='/local/ext/app-assets/images/icons/app-3.png' alt='avatar')
                      td.text-truncate Crypto ICO
                      td
                        span.badge.badge-danger 5
                    tr
                      td.text-truncate
                        span.avatar.avatar-xs
                          img.box-shadow-2(src='/local/ext/app-assets/images/icons/app-4.png' alt='avatar')
                      td.text-truncate Modern Admin
                      td
                        span.badge.badge-info 2
                    tr
                      td.text-truncate
                        span.avatar.avatar-xs
                          img.box-shadow-2(src='/local/ext/app-assets/images/icons/app-5.png' alt='avatar')
                      td.text-truncate Apex Angular
                      td
                        span.badge.badge-warning 4
                    tr
                      td.text-truncate
                        span.avatar.avatar-xs
                          img.box-shadow-2(src='/local/ext/app-assets/images/icons/app-6.png' alt='avatar')
                      td.text-truncate Apex HTML
                      td
                        span.badge.badge-info 1
                    tr
                      td.text-truncate
                        span.avatar.avatar-xs
                          img.box-shadow-2(src='/local/ext/app-assets/images/icons/app-1.png' alt='avatar')
                      td.text-truncate Convex
                      td
                        span.badge.badge-warning 3

include components/_publish-button.pug
include components/_footer.pug
include settings/_js-imports.pug
script(src='/local/ext/app-assets/js/scripts/pages/material-app.min.js')
script(src='/local/ext/app-assets/js/scripts/pages/dashboard-support.min.js')
