script(src='/local/ext/app-assets/vendors/js/material-vendors.min.js')
script(src='/local/ext/app-assets/vendors/js/ui/jquery.sticky.js')
script(src='/local/ext/app-assets/vendors/js/charts/chartist.min.js')
script(src='/local/ext/app-assets/vendors/js/charts/chartist-plugin-tooltip.min.js')
script(src='/local/ext/app-assets/js/core/app-menu.min.js')
script(src='/local/ext/app-assets/js/core/app.min.js')
script(src='/local/ext/app-assets/js/scripts/customizer.min.js')
script(src='/local/ext/app-assets/js/scripts/footer.min.js')
script(src='/local/ext/js/core/core.js', type="module")