nav.header-navbar.navbar-expand-md.navbar.navbar-with-menu.navbar-without-dd-arrow.navbar-static-top.navbar-dark.navbar-brand-center
	.navbar-wrapper
		.navbar-header
			ul.nav.navbar-nav.flex-row
				li.nav-item.mobile-menu.d-md-none.mr-auto
					a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
						i.ft-menu.font-large-1
				li.nav-item
					a.navbar-brand(href='index.html')
						img.brand-logo#navbar-logo(alt='' src='')
						h3.brand-text#navbar-logo-text
				li.nav-item.d-md-none
					a.nav-link.open-navbar-container(data-toggle='collapse' data-target='#navbar-mobile')
						i.la.la-ellipsis-v
		.navbar-container.content
			#navbar-mobile.collapse.navbar-collapse
				ul.nav.navbar-nav.mr-auto.float-left
					li.nav-item
						a.nav-link.nav-link-expand.mx-md-1.mx-0(href='#')
							i.material-icons fullscreen
					li.dropdown.nav-item.mega-dropdown.d-none.d-lg-block
						a.dropdown-toggle.nav-link#navbar-link-navigator(href='#' data-toggle='dropdown')
							i.material-icons menu
						ul.mega-dropdown-menu.dropdown-menu.row.p-1
							li.col-md-4.bg-mega.p-2
								h3.text-white.mb-1.font-weight-bold#navbar-about-title
								p.text-white.line-height-2#navbar-about-text
								button.btn.btn-outline-white#navbar-about-button
							li.col-md-8.px-2
								h6.font-weight-bold.font-medium-2.ml-1#navbar-control-panel
								ul.row.mt-2
									li.col-6.col-xl-3
										a.text-center.mb-2.mb-xl-3#navbar-link-home(href='' target='_self')
											i.material-icons.font-large-1.mr-0
											p.font-medium-2.mt-25.mb-0
									li.col-6.col-xl-3
										a.text-center.mb-2.mb-xl-3#navbar-link-event(href='' target='_self')
											i.material-icons.font-large-1.mr-0
											p.font-medium-2.mt-25.mb-0
									li.col-6.col-xl-3
										a.text-center.mb-2.mb-xl-3#navbar-link-schedule(href='' target='_self')
											i.material-icons.font-large-1.mr-0
											p.font-medium-2.mt-25.mb-0
									li.col-6.col-xl-3
										a.text-center.mb-2.mb-xl-3#navbar-link-sponsorship(href='' target='_self')
											i.material-icons.font-large-1.mr-0
											p.font-medium-2.mt-25.mb-0
									li.col-6.col-xl-3
										a.text-center.mb-2.mb-xl-3#navbar-link-proceedings(href='' target='_self')
											i.material-icons.font-large-1.mr-0
											p.font-medium-2.mt-25.mb-0
									li.col-6.col-xl-3
										a.text-center.mb-2.mb-xl-3#navbar-link-templates(href='' target='_self')
											i.material-icons.font-large-1.mr-0
											p.font-medium-2.mt-25.mb-0
									li.col-6.col-xl-3
										a.text-center.mb-2.mb-xl-3#navbar-link-media-gallery(href='' target='_self')
											i.material-icons.font-large-1.mr-0
											p.font-medium-2.mt-25.mb-0
									li.col-6.col-xl-3
										a.text-center.mb-2.mb-xl-3#navbar-link-faq(href='' target='_self')
											i.material-icons.font-large-1.mr-0
											p.font-medium-2.mt-25.mb-0
									li.col-6.col-xl-3
										a.text-center.mb-2.mb-xl-3#navbar-link-prices(href='' target='_self')
											i.material-icons.font-large-1.mr-0
											p.font-medium-2.mt-25.mb-0
									li.col-6.col-xl-3
										a.text-center.mb-2.mb-xl-3#navbar-link-settings(href='' target='_self')
											i.material-icons.font-large-1.mr-0
											p.font-medium-2.mt-25.mb-0
				ul.nav.navbar-nav.float-right
					li.dropdown.dropdown-language.nav-item
						a#dropdown-flag.dropdown-toggle.nav-link(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
							i.flag-icon.flag-icon-gb
							span.selected-language
						.dropdown-menu(aria-labelledby='dropdown-flag')
							a.dropdown-item(href='#' data-language='en')
								i.flag-icon.flag-icon-us
								|  Portugues
							a.dropdown-item(href='#' data-language='fr')
								i.flag-icon.flag-icon-fr
								|  Frances
							a.dropdown-item(href='#' data-language='pt')
								i.flag-icon.flag-icon-pt
								|  Inglês
							a.dropdown-item(href='#' data-language='de')
								i.flag-icon.flag-icon-sp
								|  Espanhol